.header-subtext span {
    font-size: 12px;
}


#first-div{
    height: 8rem;
    background-color: orange
}

#grid-div{
    height: 4rem;
    background-color: palegreen;
}


.top-header{
    position: fixed;
}

.global-navbar{
    position: relative;
    margin-top: 50px;
}

.path-header{
    background-color: aliceblue;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.center-page-content{
    margin-top: 6px;
}

.opp-btn-group{
    text-align: right;
}

.path-sub-header{
    margin-bottom: 5px;
}

.path-sub-header .slds-col {
    text-align: center;
    background-color: lightgoldenrodyellow;
    padding:5px;
}


.partition{
    margin: 10px 0px 10px 0px;
}

.product-area .slds-col:first-child {
    margin-right: 10px;
}

.product-list {
    margin-top: 20px;
}

.product-list-item{
    padding: 25px;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

.product-list-item:last-child{
    border-bottom: 1px solid silver;
}

.product-details{
    float:left; display:inline; width: 20%;
    text-align: left;
}

.product-list-item-group{
    margin-bottom: 19px
}

.product-list-item-group{
    margin-bottom: 19px
}

.product-list-item-group:last-child{
    text-align: center;
}

.product-actions{
    text-align: right;
}

.product-select{
    text-align: left;
    width: 70px;
}
input.slds-input1{
    width: 15px;
    height: 15px;
}

.info-section{
    padding: 15px;
}

.info-section h4{
    font-weight: 800;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  #generateBtn{
    justify-content: right;
    padding: 10px;
  }

  .additional-doc-section .slds-col:first-child{ 
    margin-right: 10px;
  }

  .doc-add-btn{
    margin-top: 50px;
  }

  .doc-view-header{
    background-color: aliceblue;
    text-align: center;
    padding: 18px;
    
  }

  #showDocument{
    height: 300px;
  }

  #emailbody{
    margin-top: 10px;
  }
  